<h2>The most viral videos on the Internet</h2>


<div class="video-list-wrapper">

    <% @videos.each do |video| %>
      <div class="col-md-3">

        <div class="video-list-item">
          <a href=<%="/videos/" + video.id.to_s %>>
            <img src="/assets/images/thumbnail1.jpg" alt="edit" style="z-index: -1" class="thumbnail" />
          </a>
          <div class="video-title"><%= video.title %></div>
        </div>
      </div>
    <% end %>
    <%= will_paginate @videos %>
</div>