<h2>The most viral videos on the Internet</h2>

  <tbody>
    <% @videos.each do |video| %>
      <div class="column">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
          <h3><%= link_to video.title, video %> by <%= link_to video.user.email, video.user %></h3>
            <div class="caption">
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </tbody>
</table>
