// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-list-item {
	width: 100%
}

.video-title {
	position: absolute;
	text-align: center;
	margin-left: 110px;
	margin-top: 110px;
	color: black;
	z-index: 10;
	opacity: 0;
}

.pagination {
	display: none;
}

.thumbnail {
	background-color: #E5E6FF !Important;
}

.thumbnail:hover { 
	opacity: 0.5; 
	filter: alpha(opacity=50); 

}

.userlink_video {
	font-size: 15px;
	position: fixed;
    margin-top: 480px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fav_btn {
	font-size: 15px;
	position: fixed;
    margin-top: 520px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);	
}

.comments {
	margin-left: -50px;
}

.title {
	font-size: 40px;
    position: fixed;
    margin-top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video-js-box {
	box-shadow: 0px 0px 15px #000;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-right: 854px;
}

.thumbnail:hover .video-title {
	position: absolute;
	text-align: center;
	margin-left: 110px;
	margin-top: 110px;
	color: black;
	z-index: 10;
	opacity: 1;
}
